/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
 @import url("https://use.typekit.net/nlt3yer.css");
/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #3F6BA1;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #7D95BD;
	font-family: "bilo", sans-serif;
font-weight: 700;
font-style: normal;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}
.main-font{
	font-family: "rosella-engraved", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100px
}
.secondary-font{
	font-family: "bilo", sans-serif;
	font-weight: 700;
	font-style: italic;
}
